---
import Home from "../../components/Home.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Lheido Web" lang="en">
  <main>
    <Home title="Léonard Treille" subtitle="Developer" />
  </main>
</Layout>
