---
import About from "../components/About.astro";
import Home from "../components/Home.astro";
import Mel from "../components/Mel.astro";
import PinkDog from "../components/PinkDog.astro";
import SkateparkWeather from "../components/SkateparkWeather.astro";
import Layout from "../layouts/Layout.astro";
import { pinkDogUrl } from "../shared/utils";
---

<Layout title="Léonard Treille - Développeur">
  <main>
    <Home title="Léonard Treille" subtitle="Développeur" />
    <About title="Qui suis-je ?">
      <p class="text-lg">
        Je n'aime pas parler de moi donc je ne ferai pas de monologue
        interminable !<br />
        Vanilla, Solidjs, Angular, Node.js, je fais du Javascript depuis plus de
        8 ans maintenant.<br />
        Que ce soit en autodidacte ou via mon expérience pro, j'aime apprendre de
        nouvelles choses chaque jour que
        <span class="line-through">dieu</span>… je code. <br />
        Développeur… pas commercial, je suis timide au début mais une fois à l'aise
        ça ira niveau communication, ne vous inquiétez pas !<br />
        Je saurais apporter une valeur ajouté, je l'espère, à votre projet
        <span class="max-md:font-bold md:text-accent whitespace-nowrap"
          >(￣▽￣)/</span
        >
      </p>
    </About>
    <SkateparkWeather title="Skatepark Weather">
      <div class="flex-1 flex justify-center items-center">
        <img
          class="rounded-lg shadow-lg max-w-xs"
          src="https://ik.imagekit.io/lheido/skatepark-weather-screenshot.jpg"
          alt="Skatepark Weather screenshot"
        />
      </div>
      <div class="flex flex-col justify-center items-center gap-8 mb-16">
        <p>
          Une application météo dédiée aux skateparks en France.<br />
          N'hésitez pas à me contacter si votre skatepark préféré n'est pas présent
          dans la liste !<br />
          C'est une PWA faite avec Solidjs, Supabase et déployée avec Netlify.
          <br />
          Vous pouvez l'installer en suivant le lien ci-dessous :<br />
          <a
            class="text-accent bg-accent-content inline-block p-4 rounded-lg mt-4"
            href="https://skatepark-weather.netlify.app/"
          >
            https://skatepark-weather.netlify.app
          </a>
        </p>
      </div>
    </SkateparkWeather>
    <PinkDog title="Pink Dog">
      <div class="grid grid-cols-1 md:grid-cols-2 flex-1 items-center gap-4">
        <p>
          Site web responsive réalisé avec Astro, Solidjs, Tailwindcss et Vite.
          <br />
          Une particularité du site, c'est qu'il y a 3 thèmes différents, un pour
          chaque service proposé par l'entreprise.
          <br />
          Un travail particulier a été fait sur l'animation au scroll de la page
          d'accueil, le référencement naturel et l'accessibilité.
          <br />
          Le design a été fait sur Figma. Les images, illustrations et photos sont
          réalisées par <a
            class="hover:text-[#ed83c2] transition-colors underline"
            href={pinkDogUrl}
            target="_blank"
            rel="noopener noreferrer">Pink Dog</a
          >.
          <br />
          Allez voir le site en cliquant sur le lien ci-dessous :
          <br />
          <a
            class="bg-accent text-accent-content inline-block p-4 rounded-lg mt-4"
            href={pinkDogUrl}
            target="_blank"
            rel="noopener noreferrer"
          >
            {pinkDogUrl}
          </a>
        </p>
        <img
          class="rounded-lg shadow-lg xl:max-h-64"
          src="https://ik.imagekit.io/lheido/pink-dog-screenshot-for-web.png?tr=w-800,h-400"
          alt="Capture d'écran du site"
        />
      </div>
    </PinkDog>
    <Mel title="My Everyday Lolita">
      <div class="flex max-md:flex-col flex-1 items-center gap-4">
        <img
          class="rounded-lg shadow-lg max-h-[38vh]"
          src="https://ik.imagekit.io/lheido/mel-screenshot-for-web.png"
          alt="Capture d'écran du site"
        />
        <p class="p-8">
          PWA réalisé avec Angular, Nestjs, Docker.
          <br />
          C'est une application de gestion de garde robe Lolita avec une esthétique
          kawaii.
          <br />
          Parce que la mode lolita est très variée, il y a plusieurs thèmes pour
          personnaliser l'application.
          <br />
          Le design et les illustrations ont été réalisés par <a
            class="hover:text-[#ed83c2] transition-colors underline"
            href={pinkDogUrl}
            target="_blank"
            rel="noopener noreferrer">Pink Dog</a
          >.
          <br />
          Une version 2 avec un nouveau design est prévue pour bientôt, pensé par
          Pink Dog et moi-même !
        </p>
      </div>
    </Mel>
  </main>
</Layout>
