---
import Home from "../components/Home.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lheido Web">
  <main>
    <Home title="Léonard Treille" subtitle="Développeur" />
  </main>
</Layout>
