---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section id="about-me">
  <svg
    class="visual"
    width="300"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 743.3 757.6"
  >
    <defs>
      <clipPath id="c">
        <circle cx="374.4" cy="388.7" r="369" fill="none"> </circle>
      </clipPath>
    </defs>
    <g id="a">
      <circle cx="375.4" cy="387.6" r="369" class="fill-primary"> </circle>
    </g>
    <g id="b">
      <path
        d="M254.9,26.3c2.6-1.1,23.3-8.1,50-8.2,12.1,0,15.3,1.4,25.5,1,23.9-.9,38.7-10,50-14.3,45.7-17.4,106.1,15.8,136.9,42.9,7.6,6.7,19.5,18.4,30.6,35.7,16.7,26,27.5,58.1,33.7,193,2.1,45.3,1.2,48.6,5.1,60.3,16.5,49.2,52,49.2,72.5,98,1.9,4.6,20.7,51,4.1,98-7.4,21-16,24.9-22.4,36.7-1.8,3.2-3.3,6.9-5.1,13.3-8.5,29.4-5.5,53.6-15.3,71.6-6.2,11.4-17.3,17.1-39.2,27.9-40,19.8-77.3,25.9-85.8,27.2C388,726.7,199.9,49.3,254.9,26.3Z"
        fill="#202326"
      >
      </path>
      <path
        d="M233.4,39.5c-27.7-3.1-52.7,33.8-58.2,41.9-9.4,13.8-24.2,42.5-10.2,199.1,5.8,65,10,79.1-1,101.1-11.7,23.2-35.5,45.3-37.8,75.6-.3,3.5-.7,13.9-4.1,27.6-3.3,13.3-8.6,25-10.2,28.6-8.6,19.4-18.3,41-13,58.7,2.2,7.1,6.4,12.5,35.9,32.8,26.5,18.3,39.8,27.5,55.7,35.7,53.3,27.7,89.7,47.2,112.3,37.2,26.7-11.8,39.7-57.7,27.6-231.8-10.2-147.4-27.7-398.6-97-406.5Z"
        fill="#202326"
      >
      </path>
      <path
        d="M378.4,457.2c15.7-4.3,16.9-15.3,26.8-15.8,15.6-.8,28.1,25.5,38.8,48,4.3,9,8.1,20,6.1,32.9-2.3,15.2-11.5,15.4-34.5,47.5-9.8,13.8-11.6,18.6-19.9,24.5-10.7,7.6-23,10.5-31.4,10.7-41.8,1.3-85.9-57.3-76.6-91.9,.5-1.7,6.9-16.2,6.9-16.2,2-54.2,10-58.4,10-58.4,19.4,10.7,36.2,15.4,47.5,17.6,16.5,3.3,23.3,1.8,26.3,1Z"
        fill="#fde4d9"
      >
      </path>
      <path
        d="M391.7,51.8c48.3,16.9,74.4,52.6,92,76.9,15.6,21.4,42.5,58.4,44.8,111,2,45.1-15.1,77.2-38.8,121.5-26,48.7-42.4,79.4-79,94.3-41.6,16.9-82.4,2.3-95.6-2.4-43.3-15.4-67.1-45.9-78.6-61.1-40.6-53.5-43-112.1-43.9-147.2-1.6-58.6-3.5-129.6,49-172.6,61.1-50.1,146.6-21.7,150.1-20.4Z"
        fill="#fde4d9"
      >
      </path>
      <path
        d="M270.8,47.2c2.1-4.9,94.1,6.8,161.8,76.1,8.8,9,93.2,98.1,69.1,206.5-18.5,83.2-92,137.4-102.4,130.3-10.9-7.4,56.3-76,50.6-178.5-4.9-88.5-60.4-150.5-70.5-161.4-51.3-55.4-110.5-68.9-108.7-73Z"
        fill="#fcccbd"
      >
      </path>
      <path
        d="M261.8,53.3c-.7,7.6,52.8,3.9,102.4,31.1,145,79.7,118.9,348.5,151.1,348.3,19.4-.1,47.2-98,28.6-192.2-6.8-34.3-25.7-129-110.3-175.4-78.3-43-171-21.7-171.8-11.7Z"
        fill="#202326"
      >
      </path>
      <path
        d="M239.6,60c-.7-1.2-30,7.4-49,32.7-4.8,6.4-16.8,24.2-18.8,74.6-1.6,39.5,4.6,57.2,8.6,97,1.9,18.9,5.6,57.6,1,100.1-5.6,52.4-27,93.4-60.3,161.4-10.8,22.2-23.3,45.8-22.2,46.4,.6,.3,4.7-5.7,24.2-37.2,45.1-73.2,51.2-86,55.1-100.1,5.4-19.1,6.7-32.6,9.2-58.2,1.8-18.2,5.3-63.3-1-124.6-4.2-40.7-8.1-44.1-8.2-73.5,0-28.8,.3-56.1,16.3-80.7,17.8-27.3,45.6-36.6,44.9-37.8Z"
        fill="#a2a4a5"
      >
      </path>
      <path
        d="M222.2,437.8c.4,18.5,.2,33.8,0,38.8-2.1,68-45.5,132-65.1,161.4-9.1,13.6-21.3,30.3-20,31.3,1.2,1,14.1-12.9,22-22.1,17-19.8,42.4-48.9,57.9-94,1.8-5.3,10.4-30.8,13.3-66.4,4.8-59.1-9.5-106.4-11-106.2-.9,.1,2,18.2,2.8,57.2Z"
        fill="#323537"
      >
      </path>
      <path
        d="M380.8,25.9c14.6,14.1,27.6,21.8,32.4,24.9,4.8,3.1,12.2,8.7,34.7,39.8,40.1,55.6,62.4,86.6,78.1,134.6,11.2,34.2,14.1,62.3,15.3,62.1,1.2-.2-1.4-27.5-8.1-56.3-12-51.7-32.4-87.9-37.3-96.4-10.2-17.6-29.3-50.1-65.4-80.7-25.8-21.8-57-40-58.5-38-.7,.9,4.8,6.2,8.7,10Z"
        fill="#323537"
      >
      </path>
      <path
        d="M634.8,430.7c11.8,24.5,22.5,46.5,20.4,75.6-2.9,41-29.2,71.7-31.7,70.5-2.3-1.1,17.8-28.2,21.8-65.5,8.7-82.3-67.9-150.6-64.7-153.1,2.1-1.6,32.4,27.5,54.1,72.5Z"
        fill="#323537"
      >
      </path>
      <path
        d="M477,239.8c13,28.4,19.6,42.6,37.7,73.7,27.2,46.6,31.2,118.5,21.4,170.9-8.1,43.4-25.9,74.2-24.2,74.9,1.7,.7,20-28.8,30.3-67.7,13.1-49.8,7.1-92.6,2.5-114.2-4.6-21.8-10.9-36.8-18.8-55.8-22.2-53.2-52.1-95-53.8-94-.3,.2,.1,1.7,5,12.3Z"
        fill="#323537"
      >
      </path>
      <path
        d="M572.9,227.7c-2.6,.5-3.7-66.4-51.5-136.1-31.1-45.3-67.2-70.3-65.4-72.5,1.8-2.1,39.2,18.8,68.4,55.1,54.4,67.7,51.4,152.8,48.4,153.4Z"
        fill="#323537"
      >
      </path>
      <path
        d="M503,242.8c-20.1-51.6-46.1-85.9-64.3-106.2-14.1-15.8-27.2-27.2-35.7-34.7-33.6-29.4-65.2-48.9-87.8-61.3,37.5,27.3,81.6,64.9,124.6,115.4,25.8,30.3,46.6,59.8,63.3,86.8Z"
        fill="#323537"
      >
      </path>
      <path
        d="M556.5,277.5c.5,0-13.2,50,11.2,91.9,14,24.1,26.7,21.6,43.7,44.9,34.1,46.8,24,113.2,22.3,113.4-1.4,.2,3.9-43.6-21.4-85.8-17.6-29.4-31.6-27.2-46.5-53.1-28.2-48.9-9.9-111.3-9.3-111.3Z"
        fill="#323537"
      >
      </path>
      <path
        d="M556.8,414.5c1.5-2.7,32.2,16.5,38,49.5,5.3,29.9-14,47.5-5.9,77.4,5,18.5,16.6,27.1,15.4,29.6-1.5,3.1-21.7-6.5-27.7-26.9-7-23.9,12.6-39.1,9.1-71.5-3.7-34.8-30.3-55.6-28.9-58.2Z"
        fill="#323537"
      >
      </path>
      <path
        d="M258.3,421.2c-1.8-2.7-21.6,26.4-18.4,65.3,2.9,35.2,22.3,50.8,22.9,86.8,.4,22.2-6.7,34.8-5.2,37.3,1.9,3.2,15.7-12.6,15.6-37.1-.1-28.8-19.2-41.5-24-79.3-5.2-40.5,10.9-70.4,9.2-73Z"
        fill="#323537"
      >
      </path>
      <path
        d="M213,399c3.6,21.1,5.9,35.6,4.1,55.1-.5,5.5-2.6,26.6-11.2,46-2.2,4.9-4.5,8.8-7.1,12.2-21.9,28.6-43.3,27.9-67.5,57.2-9.3,11.3-14.4,21.9-16.4,20.9-2.2-1,1-14.3,5.2-24,15.2-35,52.3-31.9,70.5-64.3,12-21.4,14.2-41.3,16.3-60.3,6.7-59.5-11.8-105.8-10.2-106.2,1.2-.3,10.4,28,16.3,63.3Z"
        fill="#323537"
      >
      </path>
      <path
        d="M489.8,385.8c-2.7-1.6-26.1,22.2-27.6,50-.2,3.5,0,7.3,0,9.7,.6,16.3,3.7,26.8,6.1,37.3,6.2,26.8,9.3,40.2,4.1,49-7.5,12.7-24.9,14-24.5,15.3,.5,1.4,21.6,1.2,31.7-12.3,7.2-9.6,5.5-21.6,3.1-37.8-4-26.1-11-29.9-13.3-46-5.2-36,23.3-63.6,20.4-65.4Z"
        fill="#323537"
      >
      </path>
      <path
        d="M260.3,57.1c4.1,3.5-20.9,32.9-36.1,61.3-64.9,121.2,18.6,278.6,10.7,281.1-5.8,1.9-51.4-88.2-50.6-199.1,.3-34.6,4.9-63.3,20.7-90.4,19.4-33.2,51.2-56.4,55.3-52.9Z"
        fill="#202326"
      >
      </path>
      <path
        d="M230.1,65.4c-10,7.8-14.5,19.3-23.6,42.2-5.6,14.1-16.9,42.6-6.6,51.6,2.6,2.3,5.8,2.6,7.3,2.7,25.9,2.3,222.1,3.4,234.1,3.5h.2v-.2c-6.5-22.9-13.1-46.4-26.5-67.9-1.1-1.8-23.7-37.6-44.8-40.1-1.4-.2-7.2-.7-11.6-1.1-8-.7-15.5-1.2-22.4-1.6-10.8-.6-28.1-1.6-41.8-1.4-32.8,.5-49.7,.8-64.3,12.2Z"
        fill="#636464"
      >
      </path>
      <ellipse cx="260.5" cy="330.6" rx="3.6" ry="5.6" fill="#58220b">
      </ellipse>
      <path
        d="M416,247.1c-6.4,0-11.6-7.6-13.3-15.5-.3-1.5-2.2-10.1,1.1-16.2,3.1-5.9,8.9-5.4,12.3-5.1,3.4,.3,7.6,.6,10.4,5.3,4.1,6.9,3.1,20-2,26.8-3.5,4.7-7.7,4.8-8.5,4.8Z"
        fill="#4c230d; stroke:#000; stroke-miterlimit:10; stroke-width:3px"
      >
      </path>
      <path
        d="M240.8,252.9c-6.4,0-11.6-6.9-13.3-14.2-.3-1.4-2.2-9.2,1.1-14.8,3.1-5.4,8.9-5,12.3-4.7,3.4,.3,7.6,.6,10.4,4.9,4.1,6.3,3.1,18.3-2,24.5-3.5,4.3-7.7,4.4-8.5,4.4Z"
        fill="#4c230d; stroke:#000; stroke-miterlimit:10; stroke-width:3px"
      >
      </path>
      <path
        d="M194.3,193.2c-.3-.9,28.1-21.3,57.6-12.2,15.8,4.9,28.1,17.1,27.3,18.5-.4,.7-5.3-1.2-15-5-9.5-3.7-16.3-6.8-17.2-7.2-20.7-9.1-52.4,6.8-52.7,5.8Z"
      >
      </path>
      <path
        d="M416.4,207.2c-19.8-.5-37.2,8.7-36.8,10.6,0,.2,.3,.6,9.8,.2,11.9-.5,20.8-1.5,21.4-1.6,21.1-2.5,33.7,.9,34-1,.3-1.9-13.1-7.9-28.4-8.3Z"
      >
      </path>
      <path
        d="M444.6,189.1c.6-1.3-13.3-13.7-32-14.8-17-1-32.9,7.6-32.5,9.3,.1,.5,1.6,.5,3.5,.5,15.1-.1,26.3-2.2,32.4-2.5,16.8-1,28,8.7,28.5,7.6Z"
      >
      </path>
      <path
        d="M241.1,216.5c-21.1-1-39.5,10.2-38.9,12.2,.2,.6,3.4,.3,9.8-.3,12.5-1.2,20.2-2.8,24.6-3.4,19.8-3,33.5,3.5,33.9,1.9,.5-1.7-12.9-9.5-29.3-10.3Z"
      >
      </path>
      <path
        d="M327.6,251.7c-1.6-.7-11.6,14.1-16.1,33.7-2.9,12.7-7,30.5,2.3,38.3,8.8,7.4,25.3,2,25.3,.8,0-1.2-14.1,2.4-21.4-4.6-15.8-15,12.8-66.9,10-68.2Z"
      >
      </path>
      <path
        d="M313.6,394.2c-.4,1.9,11.8,8.1,24.8,6.5,10-1.2,18.6-6.8,18.1-8.5-.4-1.3-6,.1-20.8,1-16.3,.9-21.8-.1-22,1.1Z"
      >
      </path>
      <path
        d="M220.1,212.9c-9.3,3.3-16.2,8.9-15.7,9.9,.9,2.1,27.3-15.8,46.3-8.6,.3,0,17.4,2.2,17.4,2.2h0c.1-1.1-25.1-11.5-48.1-3.5Z"
      >
      </path>
      <path
        d="M432.7,203.1c8.4,3.6,14.6,9.7,14.1,10.8-.8,2.3-24.6-17.2-41.7-9.4-.3,0-15.7,2.4-15.7,2.4,0,0,0,0,0,0-.1-1.1,22.6-12.5,43.3-3.7Z"
      >
      </path>
      <g style="clip-path:url(#c)">
        <path
          d="M292.6,475c-19.4-9.2-40.1-3.8-61.6,1.3-12,2.9-27.6,6.6-43.6,18.2-13.3,9.7-20.2,20-33.4,41.8-42,69.2-47.7,87.5-46.3,97.5,0,.6,.4,1.7,1,4.1,4.5,19.1,6.4,32.7,6.9,35.1,4.2,22.5,55.7,39.9,55.7,39.9,113.3,38.2,170,57.3,205.7,57.1,20.4-.1,108.4-.8,178.9-46.1,21.2-13.7,17.5-16.3,63.3-50.2,15.3-11.3,33.3-24,45.4-48.2,3.8-7.7,5.9-11.8,6.9-17.7,4.9-29.8-25.4-57.5-63.4-89.6-35.2-29.7-55.2-45.6-81.2-46.9-12.2-.6-24.9,1.9-53.6-.5-10.5-.9-14.8-1.7-19.2-1.1,0,0-1.9,.3-3.8,.9-12.7,3.6-27.2,30.5-35.7,42.8-7.5,10.9-22.4,32.4-40.3,32.9-11.7,.3-25.1-13.5-51.3-41.2-21.2-22.4-21.3-25.7-30.3-29.9Z"
          fill="#03070d"
        >
        </path>
      </g>
      <path
        d="M418.5,452.8c-2.8-3.4-15.8,8-33.9,12.6-41.8,10.5-80.9-23.4-84-18.3-1.9,3.1,11.6,17.4,28.9,26.5,19.8,10.4,52.9,18.2,74.6,2,10.1-7.6,17-19.8,14.5-22.8Z"
        fill="#fcccbd"
      >
      </path>
      <g id="d">
        <path
          d="M308.9,441.9c-2.9,3.6,4.7,14.4,9.6,21.1,14.2,19.4,24.8,33.9,35.8,31.6,8.3-1.7,12.7-12.3,16.5-21.6,3-7.3,9.7-22.9,3.2-29.8-3.2-3.4-11.6-3-28.3-2.1-11.6,.6-12.5,1.6-20.3,1.2-10.4-.5-14.7-2.7-16.5-.5Z"
          fill="#353535"
        >
        </path>
      </g>
    </g>
    <g id="e">
      <path
        d="M350.4,94.7c.9,1-6,15.7-17.1,14.7-9.2-.8-14.4-11.8-13.8-20.2,.8-9.9,9.8-16.8,17.4-18.3,11.9-2.4,23.6,7.3,30.6,13.1,4.4,3.7,5.5,5.5,11,9.5,7.6,5.4,14.4,8.2,17.1,9.2,14.8,5.5,25.2,3.6,25.4,5.4,.2,1.9-12.2,8.3-25.4,5.7-8-1.6-17.2-8.8-35.2-23.2-7.8-6.3-12.6-10.6-17.7-9.2-6.3,1.8-9.4,11.2-9.5,11.6-.4,1.2-.5,2.4,0,3.4,.9,1.7,3.5,2,4.6,2.1,6.8,.7,11.9-4.3,12.5-3.7Z"
        fill="#cfcfce"
        class="opacity-50"
      >
      </path>
      <path
        d="M255.6,125.9c3.3-5,11.3-6.9,19-3.7,1.9,.9,6.2,3.2,8.3,7.9,3.3,7.5-.9,16.2-5.8,20.5-8.1,7.2-20.7,4.4-29.4,2.4-11.3-2.5-11.9-5.8-26.6-10.1-13-3.8-20.8-3.7-20.8-4.9,0-1.5,12.4-4.8,25.4-1.5,10.6,2.6,12.3,7.3,25.4,10.4,7.4,1.7,13.1,3,17.7-.3,5.7-4.1,8.1-14.2,4-18.3-2.3-2.3-6.7-2.7-9.8-1.2-2.5,1.2-3.9,3.7-5.2,6.1-1.9,3.4-1.9,5.5-2.4,5.5-.9,0-3.1-7.7,.3-12.8Z"
        fill="#cfcfce"
        class="opacity-50"
      >
      </path>
      <path
        d="M337.5,153.4c-2.5-6.1,2.8-14.5,9.5-16.5,7.4-2.3,14.5,4.2,16.2,5.8,5.2,4.8,3.7,7.9,7.6,10.7,9.3,6.8,26.9-3.7,28.1-1.2,.5,1.1-2.5,3.6-4.3,4.9-8.9,6.4-24,7.6-30.3,.6-3.8-4.2-1.6-8.5-6.4-12.2-2.4-1.9-7.1-3.9-10.7-1.8-1.7,1-3.8,3.3-3.4,5.5,.8,4.5,11.1,4.9,11.1,7.3,0,1.7-5.3,3.9-10.1,2.8-.3,0-5.5-1.4-7.3-5.8Z"
        fill="#cfcfce"
        class="opacity-50"
      >
      </path>
      <path
        d="M229.1,84.4c-2-.5-4,.9-5.8,2.1-2.6,1.8-3.3,3.4-4,3.1-1-.4-1.3-4.1,.5-6.6,1.4-2,3.7-2.5,5.1-2.8,4.1-.9,10.2,0,12.7,3.5,4.6,6.6-3.6,21.9-12.2,22-5.2,0-9.3-6-9.8-6.7-2.3-3.5-3.2-7.7-2.4-8.1,.6-.3,1.7,1.9,5.2,4.7,3,2.5,4.8,4,7.3,4,2.9,0,6.1-2,7.3-5.2,1.2-3.1,0-5.9-.4-6.6-.5-.9-1.5-3-3.6-3.5Z"
        fill="#cfcfce"
        class="opacity-50"
      >
      </path>
      <path
        d="M235.7,615.9c-6.3-4.2-63.2,65.2-58.7,69.7,2.3,2.3,21.2-13.2,29.9-21.3,8.3-7.6,16.1-15,22.3-27.3,2.5-5,9.1-19.3,6.4-21.1Z"
        fill="#202326"
      >
      </path>
      <path
        d="M496.2,637c-2,1.5,1,7.9,12.8,33.9,16.4,35.9,17.2,37.9,18.3,37.6,4.5-1,7.1-33.4-10.1-55.9-7.3-9.6-18.4-17.6-21.1-15.6Z"
        fill="#202326"
      >
      </path>
    </g>
  </svg>
  <h1><span>{title}</span></h1>
  <div class="content">
    <slot />
  </div>

  <style is:global>
    :root {
      --about-me-sbw: 0%;
      --about-me-bw: 28%;
      --about-me-duration: 0.8s;
    }

    #about-me {
      @apply relative min-h-screen overflow-hidden;
      @apply bg-neutral text-neutral-content;
    }

    #about-me::before {
      @apply absolute h-full top-0 left-0 bg-primary;
      @apply w-[--about-me-sbw];
      content: "";
      transition: width var(--about-me-duration) ease;
    }

    #about-me.visible::before {
      @apply w-[--about-me-bw];
    }

    #about-me .content {
      @apply relative;
      @apply p-8 md:px-16 md:ml-[--about-me-bw];
      @apply max-md:bg-primary-focus max-md:text-primary-content;
      @apply translate-y-[25%] opacity-0;
      transition: transform var(--about-me-duration) ease,
        opacity var(--about-me-duration) ease;
    }

    #about-me.visible .content {
      @apply translate-y-0 opacity-100;
    }

    #about-me .visual {
      @apply absolute top-[50vh] right-1/2 -translate-y-1/2 translate-x-1/2;
      @apply w-[70vw] h-[70vw];
      @apply md:-top-[10vw] md:right-0 md:translate-y-[20%] md:translate-x-2/4 md:w-[35vw] md:h-[35vw];
      @apply opacity-75 md:opacity-0;
      transition: top var(--about-me-duration) ease,
        transform var(--about-me-duration) ease,
        opacity var(--about-me-duration) ease;
    }

    #about-me.visible .visual {
      @apply top-[14vh] translate-y-0 opacity-20;
      @apply md:-top-[10vw] md:right-0 md:translate-y-[20%] md:translate-x-1/4 md:opacity-50;
    }

    #about-me .content::before {
      @apply absolute top-0 left-4 md:left-8 bg-neutral md:bg-primary w-px h-full scale-y-90 md:scale-y-100;
      content: "";
    }

    #about-me h1 {
      @apply relative font-bold opacity-0;
      @apply px-8 py-[10vh] md:py-[8vh] md:px-16 xl:py-[16vh];
      @apply text-[15vw] md:text-[9vw];
      background: linear-gradient(
        90deg,
        var(--color-neutral) var(--about-me-bw),
        var(--color-primary) var(--about-me-bw),
        var(--color-primary) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      transition: opacity var(--about-me-duration) ease;
    }

    #about-me.visible h1 {
      @apply opacity-100;
    }
  </style>

  <script>
    import { inView } from "motion";

    inView(
      "#about-me",
      () => {
        document
          .querySelector<HTMLDivElement>("#about-me")!
          .classList.add("visible");
      },
      { amount: 0.75 }
    );
  </script>
</section>
