---
export interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<section id="home" class="relative flex flex-col">
  <div class="content flex-1 flex justify-center items-center">
    <div
      class="visual absolute top-0 right-0 left-0 overflow-hidden md:left-[63vw]"
    >
    </div>
    <h1
      class="relative z-10 block text-neutral font-thin bg-primary px-8 py-8 leading-none overflow-hidden text-[8vw] md:text-[6vw]"
    >
      <span class="relative block">{title}</span>
    </h1>
  </div>
  <footer class="relative">
    <p
      class="absolute right-0 md:right-[38vw] font-accent bg-primary uppercase py-4 select-none w-full text-[25.5vw] md:w-auto md:text-[16vw] leading-none"
    >
      {subtitle}
    </p>
  </footer>
</section>

<style>
  #home {
    height: 100vh;
    height: 100svh;
  }

  .visual {
    background-image: url("https://ik.imagekit.io/lheido/home-4.png?tr=w-0.5");
    background-size: cover;
    background-position: center;
    transform: translateY(-5%);
    opacity: 0;
    animation: visual 0.5s 0.5s 1 ease-out forwards;
  }

  @keyframes visual {
    0% {
      transform: translateY(-5%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  h1 {
    opacity: 0;
    animation: title 0.5s 0s 1 ease-out forwards;
  }

  @keyframes title {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h1::before {
    @apply absolute bottom-0 left-0 h-1 w-full bg-neutral;
    content: "";
    animation: h1Before 0.5s 0s 1 ease-out forwards;
    transform-origin: left;
  }

  @keyframes h1Before {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }

  h1::after {
    @apply absolute bottom-0 right-0 h-full w-1 bg-neutral;
    content: "";
    animation: h1After 0.5s 0.5s 1 ease-out forwards;
    transform-origin: bottom;
    transform: scaleY(0);
  }

  @keyframes h1After {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }

  h1 span::after {
    @apply absolute top-0 right-0 bottom-0 left-0;
    @apply block bg-primary;
    content: "";
    animation: h1SpanAfter 1s 0s 1 ease-out forwards;
  }

  @keyframes h1SpanAfter {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  footer p {
    z-index: 1;
    transform: translateY(40%);
    opacity: 0;
    animation: footerP 0.2s 0.8s 1 ease-out forwards;
  }

  @keyframes footerP {
    0% {
      transform: translateY(40%);
      opacity: 0;
    }
    100% {
      transform: translateY(20%);
      opacity: 1;
    }
  }

  .visual,
  footer p {
    bottom: 16vh;
    bottom: 16svh;
  }

  footer::after {
    @apply bg-neutral block relative;
    content: "";
    height: 16vh;
    height: 16svh;
    z-index: 2;
    transform: translateY(100%);
    animation: footerAfter 0.6s 0.2s 1 ease-out forwards;
  }

  @keyframes footerAfter {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
</style>
