---
import "overlayscrollbars/overlayscrollbars.css";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  lang?: "fr" | "en";
}

const { title, lang = "fr" } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang} data-overlayscrollbars-initialize>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Je vous parle pas trop de moi, surtout de mes projets ! ＼(٥⁀▽⁀ )／"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Loop&family=Ubuntu+Mono&family=Ubuntu:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body data-overlayscrollbars-initialize>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="icon-linkedin" viewBox="0 0 16 16">
        <g class="fill-current">
          <path
            d="M15.3,0H0.7C0.3,0,0,0.3,0,0.7v14.7C0,15.7,0.3,16,0.7,16h14.7c0.4,0,0.7-0.3,0.7-0.7V0.7 C16,0.3,15.7,0,15.3,0z M4.7,13.6H2.4V6h2.4V13.6z M3.6,5C2.8,5,2.2,4.3,2.2,3.6c0-0.8,0.6-1.4,1.4-1.4c0.8,0,1.4,0.6,1.4,1.4 C4.9,4.3,4.3,5,3.6,5z M13.6,13.6h-2.4V9.9c0-0.9,0-2-1.2-2c-1.2,0-1.4,1-1.4,2v3.8H6.2V6h2.3v1h0c0.3-0.6,1.1-1.2,2.2-1.2 c2.4,0,2.8,1.6,2.8,3.6V13.6z"
          ></path>
        </g>
      </symbol>
      <symbol id="icon-github" viewBox="0 0 16 16">
        <g>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            class="fill-current"
            d="M8,0.2c-4.4,0-8,3.6-8,8c0,3.5,2.3,6.5,5.5,7.6 C5.9,15.9,6,15.6,6,15.4c0-0.2,0-0.7,0-1.4C3.8,14.5,3.3,13,3.3,13c-0.4-0.9-0.9-1.2-0.9-1.2c-0.7-0.5,0.1-0.5,0.1-0.5 c0.8,0.1,1.2,0.8,1.2,0.8C4.4,13.4,5.6,13,6,12.8c0.1-0.5,0.3-0.9,0.5-1.1c-1.8-0.2-3.6-0.9-3.6-4c0-0.9,0.3-1.6,0.8-2.1 c-0.1-0.2-0.4-1,0.1-2.1c0,0,0.7-0.2,2.2,0.8c0.6-0.2,1.3-0.3,2-0.3c0.7,0,1.4,0.1,2,0.3c1.5-1,2.2-0.8,2.2-0.8 c0.4,1.1,0.2,1.9,0.1,2.1c0.5,0.6,0.8,1.3,0.8,2.1c0,3.1-1.9,3.7-3.7,3.9C9.7,12,10,12.5,10,13.2c0,1.1,0,1.9,0,2.2 c0,0.2,0.1,0.5,0.6,0.4c3.2-1.1,5.5-4.1,5.5-7.6C16,3.8,12.4,0.2,8,0.2z"
          ></path>
        </g>
      </symbol>
      <symbol id="icon-instagram" viewBox="0 0 16 16">
        <g class="fill-current">
          <path
            d="M8,1.441c2.136,0,2.389.009,3.233.047a4.419,4.419,0,0,1,1.485.276,2.472,2.472,0,0,1,.92.6,2.472,2.472,0,0,1,.6.92,4.419,4.419,0,0,1,.276,1.485c.038.844.047,1.1.047,3.233s-.009,2.389-.047,3.233a4.419,4.419,0,0,1-.276,1.485,2.644,2.644,0,0,1-1.518,1.518,4.419,4.419,0,0,1-1.485.276c-.844.038-1.1.047-3.233.047s-2.389-.009-3.233-.047a4.419,4.419,0,0,1-1.485-.276,2.472,2.472,0,0,1-.92-.6,2.472,2.472,0,0,1-.6-.92,4.419,4.419,0,0,1-.276-1.485c-.038-.844-.047-1.1-.047-3.233s.009-2.389.047-3.233a4.419,4.419,0,0,1,.276-1.485,2.472,2.472,0,0,1,.6-.92,2.472,2.472,0,0,1,.92-.6,4.419,4.419,0,0,1,1.485-.276c.844-.038,1.1-.047,3.233-.047M8,0C5.827,0,5.555.009,4.7.048A5.868,5.868,0,0,0,2.76.42a3.908,3.908,0,0,0-1.417.923A3.908,3.908,0,0,0,.42,2.76,5.868,5.868,0,0,0,.048,4.7C.009,5.555,0,5.827,0,8s.009,2.445.048,3.3A5.868,5.868,0,0,0,.42,13.24a3.908,3.908,0,0,0,.923,1.417,3.908,3.908,0,0,0,1.417.923,5.868,5.868,0,0,0,1.942.372C5.555,15.991,5.827,16,8,16s2.445-.009,3.3-.048a5.868,5.868,0,0,0,1.942-.372,4.094,4.094,0,0,0,2.34-2.34,5.868,5.868,0,0,0,.372-1.942c.039-.853.048-1.125.048-3.3s-.009-2.445-.048-3.3A5.868,5.868,0,0,0,15.58,2.76a3.908,3.908,0,0,0-.923-1.417A3.908,3.908,0,0,0,13.24.42,5.868,5.868,0,0,0,11.3.048C10.445.009,10.173,0,8,0Z"
          ></path>
          <path
            d="M8,3.892A4.108,4.108,0,1,0,12.108,8,4.108,4.108,0,0,0,8,3.892Zm0,6.775A2.667,2.667,0,1,1,10.667,8,2.667,2.667,0,0,1,8,10.667Z"
          ></path>
          <circle cx="12.27" cy="3.73" r="0.96"></circle>
        </g>
      </symbol>
      <symbol id="icon-fold" viewBox="0 0 16 16">
        <g class="fill-current">
          <path
            d="M15.8,7.4C15.6,7.2,15.3,7,15,7H4C3.6,7,3.2,7.2,3.1,7.6l-3,7C-0.1,15.2,0.1,16,1,16h11 c0.4,0,0.8-0.2,0.9-0.6l3-7C16.1,8.1,16,7.7,15.8,7.4z"
          ></path>
          <path
            d="M1.2,6.8C1.7,5.7,2.8,5,4,5h9V3c0-0.6-0.4-1-1-1H6.4L4.7,0.3C4.5,0.1,4.3,0,4,0H1 C0.4,0,0,0.4,0,1v8.7L1.2,6.8z"
          ></path>
        </g>
      </symbol>
    </svg>
    <slot />
    <!-- <Cube client:idle /> -->
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --color-primary: hsla(247, 56%, 82%, 1);
    --color-primary-content: hsla(0, 0%, 16%, 1);
    --color-primary-focus: hsla(247, 56%, 78%, 1);
    --color-accent: hsla(51, 65%, 77%, 1);
    --color-accent-content: hsla(0, 0%, 16%, 1);
    --color-accent-focus: hsla(51, 65%, 73%, 1);
    --color-accent-edge: hsla(51, 65%, 38%, 1);
    --color-neutral: hsla(0, 0%, 16%, 1);
    --color-neutral-content: hsla(0, 0%, 86%, 1);
    --color-neutral-focus: hsla(0, 0%, 12%, 1);
  }

  html {
    @apply bg-primary font-sans m-0 p-0 scroll-smooth md:snap-y md:snap-proximity;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  code {
    @apply font-mono;
  }
  *::selection {
    @apply bg-accent text-neutral;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    -moz-background-clip: initial;
    -moz-text-fill-color: initial;
    background-clip: initial;
    text-fill-color: initial;
  }

  main > section {
    @apply snap-start;
  }
</style>
<script>
  import { OverlayScrollbars } from "overlayscrollbars";
  (window as any).lheidoOSI = OverlayScrollbars(document.body, {
    scrollbars: {
      autoHide: "move",
      autoHideDelay: 500,
    },
    showNativeOverlaidScrollbars: true,
  });
</script>
