---
import "overlayscrollbars/overlayscrollbars.css";
import Footer from "../components/Footer.astro";
import Cube from "../components/cube/Cube";

export interface Props {
  title: string;
  lang?: "fr" | "en";
}

const { title, lang = "fr" } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang} data-overlayscrollbars-initialize>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Loop&family=Ubuntu+Mono&family=Ubuntu:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body data-overlayscrollbars-initialize>
    <slot />
    <Cube />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --color-primary: hsla(247, 56%, 82%, 1);
    --color-primary-content: hsla(0, 0%, 16%, 1);
    --color-primary-focus: hsla(247, 56%, 78%, 1);
    --color-accent: hsla(51, 65%, 77%, 1);
    --color-accent-content: hsla(0, 0%, 16%, 1);
    --color-accent-focus: hsla(51, 65%, 73%, 1);
    --color-accent-edge: hsla(51, 65%, 38%, 1);
    --color-neutral: hsla(0, 0%, 16%, 1);
    --color-neutral-content: hsla(0, 0%, 86%, 1);
    --color-neutral-focus: hsla(0, 0%, 12%, 1);
  }

  html {
    @apply bg-primary font-sans m-0 p-0 scroll-smooth md:snap-y md:snap-proximity;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  code {
    @apply font-mono;
  }
  *::selection {
    @apply bg-accent text-neutral;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    -moz-background-clip: initial;
    -moz-text-fill-color: initial;
    background-clip: initial;
    text-fill-color: initial;
  }

  main > section {
    @apply snap-start;
  }
</style>
<script>
  import { OverlayScrollbars } from "overlayscrollbars";
  OverlayScrollbars(document.body, {
    scrollbars: {
      autoHide: "move",
      autoHideDelay: 500,
    },
    showNativeOverlaidScrollbars: true,
  });
</script>
